@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

.top-bar-height {
    min-height: 48px;
    flex-shrink: 0;
}

.filter-area-container {
    @apply px-3 py-2 flex flex-col justify-center;
}

.item-card {
    @apply rounded shadow border border-gray-400 relative;
}
.item-card.clickable {
    @apply cursor-pointer hover:border-purple-700 hover:shadow-md transition-all duration-150 ease-in-out;
}
.item-card .item-card-indicators {
    position: absolute;
    top: 8px;
    right: 8px;
}
.item-card .item-card-separator {
    @apply border-t border-gray-200;
}
